################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/GameConsoleMode/obj/Release
/Settings/bin/Release
/Settings/obj/Release
/GameConsoleModeGamepad
